#sidebar {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(91, 68, 105);
  overflow-x: hidden;
  padding-top: 20px;
}

#sidebar h3 {
  color: white;
  font-size: 1em;
  text-transform: uppercase;
}

.nav {
  font-size: 0.8em;
}

.nav-item {
  padding: 20%;
  text-decoration: none;
  color: #818181;
  display: block;
  color: white;
  text-transform: uppercase;
}

.nav-item:hover {
  color: rgb(201, 202, 209);
  text-transform: uppercase;
  text-decoration: none;
}
